 <!-- Start The Main -->
 <div class="the-main">

    <div class="container">
      <header>
        <div  class="spans">
            <span>
              <i class="fas fa-phone-alt"></i>
              <span class="first">(702)555-0122</span>
            </span>
            <span><i class="fas fa-envelope"></i>
              <span class="first">contactcentre@healthall.com</span>
              </span>
        </div>

        <div class="icons">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-linkedin-in"></i>
          <i class="fab fa-twitter"></i>
        </div>
      </header>
      <hr />
      <nav>
        <h2><i class="fas fa-tty"></i>Healthall</h2>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Membership</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        <div>
          <span><a href="#">Eng</a> <i class="fas fa-chevron-down"></i></span>
          <span class="active"><a href="#">Profile</a> <i class="fas fa-user"></i></span>
        </div>
      </nav>

    </div>

</div>

<!-- End The Main -->
