<!-- Start The Main -->
<div class="the-main">
  <div class="container">
    <header>
      <div class="spans">
        <span>
          <i class="fas fa-phone-alt"></i>
          <span class="first">(702)555-0122</span>
        </span>
        <span
          ><i class="fas fa-envelope"></i>
          <span class="first">contactcentre@healthall.com</span>
        </span>
      </div>

      <div class="icons">
        <a href="https://www.facebook.com" alt="link">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.linkedin.com" alt="link"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <a href="https://www.twitter.com" alt="link"
          ><i class="fab fa-twitter"></i
        ></a>
      </div>
    </header>
    <hr />
    <nav>
      <h1><i class="fas fa-tty"></i>Healthall</h1>
      <ul>
        <li>
          <a
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >{{ "HOME" | translate }}</a>
        </li>
        <li>
          <a
            routerLink="/about-us"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >{{ "ABOUT_US" | translate }}</a>
        </li>
        <li>
          <a
            routerLink="/service"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >{{ "SERVICES" | translate }}</a>
        </li>
        <li>
          <a
            routerLink="/team"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >{{ "TEAM" | translate }}</a>
        </li>
        <li>
          <a
            routerLink="/contact"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ "CONTACT_US" | translate }}
          </a>
        </li>
      </ul>
      <div>
        <span class="change"
          ><a (click)="changeCurrentLanguage('ar')" >
            Ar
          </a>
        </span>
        <span class="change"
          ><a (click)="changeCurrentLanguage('en')">
            En
          </a>
        </span>
        <span class="active"
          ><a
            routerLink="/profile"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            {{ "PROFILE" | translate }}
          </a>
          <i class="fas fa-user"></i
        ></span>
      </div>
    </nav>ّ
  </div>
</div>

<!-- End The Main -->
