/* Small /Medium / Larg Screens*/

/* Start Services */
.services {
  padding: 60px 0px 60px;
  background-color: #fde1e5;
}

.container {
  background-color: #fff;
  padding: 30px 0px ;
  border-radius: 30px;
}

.service h2 {
  font-weight: bold;
  font-size: 20px;
}

.services .service p {
  color: var(--openblack);
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.services .service p span{
  color: var(--red);
  font-size: 14px;
}

.services .searvices-info {
  display: flex;
  flex-flow: row wrap ;
  justify-content: space-between;
  align-items: center;
}

.services .searvices-info .info{
  width: 31%;
  margin-right: 2%;
  margin-bottom: 30px;;
}

.services .searvices-info .info i{
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: var(--red);
  color: #FFF;
  border-radius: 8px;
}

.services .searvices-info .info h4 {
  color: rgb(49, 45, 45);
  margin: 10px 0px 6px;
}

.services .searvices-info .info p {
  color: var(--openblack);
  font-size: 12px;
  line-height: 20px;
}

.services .all {
  padding-top: 20px;
}

.services .all span {
  color: var(--red);
  font-size: 16px;
}

.services .all span i{
  margin-left: 10px;
}
/* End Services */

/* Media Query For Mobile/Tablets */
@media (max-width: 767px) {
  .service h2 {
    font-size: 16px;
  }

  .services .service p {
    font-size: 12px;
    line-height: 14px;
    margin-top: 5px;
    margin-bottom: 25px;
  }

  .services .service p span{
    font-size: 12px;
  }

  .services .searvices-info .info{
    width: 100%;
    margin-bottom: 20px;;
  }

  .services .searvices-info .info i{
    width: 25px;
    height: 25px;
    line-height: 25px;
    border-radius: 5px;
  }

  .services .searvices-info .info h4 {
    font-size: 14px;
    margin: 8px 0px 2px;
  }

  .services .searvices-info .info p {
    font-size: 10px;
    line-height: 12px;
  }

  .services .all {
    padding-top: 10px;
  }

  .services .all span {
    font-size: 14px;
  }

  .services .all span i{
    margin-left: 5px;
  }

}


