<!-- Start Services -->
<div class="services">
  <div class="container">
    <div class="service text-center">
      <h2>{{ "SERVICES_WE_PROVIDE" | translate}}</h2>
      <p>
        {{"OUR_SPECIALISTS_CAN_HELP_WITH" | translate}} <span> {{"EVERY_EMAGINABLE_HEALTH_NEED" | translate}} </span> {{"FROM_COUGHS" | translate}}
        {{"CONRTACEPTION_ANAXIESTY_TO_ASTHAMA_INSOMNIA_TO_DIABTES" | translate}}
      </p>
    </div>
    <div class="searvices-info">
      <div class="info text-center">
        <i class="fas fa-user-tie"></i>
        <h4>Private GP services</h4>
        <p>Welcom To Our First Angular Project,<br>With Best Wishes</p>
      </div>
      <div class="info text-center">
        <i class="fas fa-male"></i>
        <h4>Mens health</h4>
        <p>Welcom To Our First Angular Project,<br>With Best Wishes</p>
      </div>
      <div class="info text-center">
        <i class="fas fa-female"></i>
        <h4>Womens health</h4>
        <p>Welcom To Our First Angular Project,<br>With Best Wishes</p>
      </div>
      <div class="info text-center">
        <i class="fas fa-restroom"></i>
        <h4>Children and teenagers</h4>
        <p>Welcom To Our First Angular Project,<br>With Best Wishes</p>
      </div>
      <div class="info text-center">
        <i class="fas fa-user-md"></i>
        <h4>Sexual health clinic</h4>
        <p>Welcom To Our First Angular Project,<br>With Best Wishes</p>
      </div>
      <div class="info text-center">
        <i class="fas fa-vial"></i>
        <h4>Tests</h4>
        <p>Welcom To Our First Angular Project,<br>With Best Wishes</p>
      </div>
    </div>
    <div class="all text-center">
      <span> All service <i class="fas fa-arrow-right"></i>
      </span>
    </div>
  </div>
</div>
<!-- End Services -->
