<!-- Start The Main -->
<main>
    <div class="content container">
      <div class="heading">
        <h4>
          Your health is our priority
        </h4>
        <h1>
          Minds that cure.<br>
          Hearts that care.
        </h1>
        <p>
          Healthall one of the nations leading acadimice medical<br>
          centers as ranked by U.S.News & World Reports "Best<br>
          Hospitals" survey".
        </p>
      </div>
      <div>
        <img src="./assets/images/img1.png" alt="image">
      </div>

      <div class="last">
        <div class="last-info">
          <div><i class="fas fa-user"></i></div>
          <div>
            <h5>specialist</h5>
            <p>What kind of help do you need?</p>
          </div>
        </div>
        <div class="last-info">
          <div><i class="fas fa-map-marker-alt"></i></div>
          <div>
            <h5>Location</h5>
            <p>Choose hospital</p>
          </div>
        </div>
        <div class="last-info">
          <div><i class="fas fa-clock"></i></div>
          <div>
            <h5>Visit time</h5>
            <p>Choose date</p>
          </div>
        </div>
        <i class="fas fa-search"></i>
      </div>
  </div>

</main>
<!-- End The Main -->

<!-- Start About Us -->
<div class="about-us">
  <div class="container">
    <div class="images">
      <div><img src="./assets/images/img2.png" alt="image"></div>
      <div><img src="./assets/images/img3.png" alt="image"></div>
      <div><img src="./assets/images/img4.png" alt="image"></div>
      <div><img src="./assets/images/img5.png" alt="image"></div>
    </div>
    <div class="about-info">
      <h2>About us</h2>
      <p>My name is <span>Ahmed Sokar</span> , my age is 36 and <br>
         Iam working front-end angular developer.
      </p>
      <p>My name is Ahmed Sokar, my age is 36, Iam working<br> front-end angular developer
        with my best friend software Engineer: <span> Omar Hassan </span>.
      </p>
    </div>
  </div>
</div>
<!-- End About Us -->

<!-- Start Services -->
<div class="services">
  <div class="container">
    <div class="service text-center">
      <h2>Services we provide</h2>
      <p>
        Our specialists can help with <span> evry emaginable health need </span> - from coughs<br>
        conrtaception,anxiesty to asthama, insomnia to diabetes.
      </p>
    </div>
    <div class="searvices-info">
      <div class="info text-center">
        <i class="fas fa-user-tie"></i>
        <h4>Private GP services</h4>
        <p>Welcom To Our First Angular Project,<br>With Best Wishes</p>
      </div>
      <div class="info text-center">
        <i class="fas fa-male"></i>
        <h4>Mens health</h4>
        <p>Welcom To Our First Angular Project,<br>With Best Wishes</p>
      </div>
      <div class="info text-center">
        <i class="fas fa-female"></i>
        <h4>Womens health</h4>
        <p>Welcom To Our First Angular Project,<br>With Best Wishes</p>
      </div>
      <div class="info text-center">
        <i class="fas fa-restroom"></i>
        <h4>Children and teenagers</h4>
        <p>Welcom To Our First Angular Project,<br>With Best Wishes</p>
      </div>
      <div class="info text-center">
        <i class="fas fa-user-md"></i>
        <h4>Sexual health clinic</h4>
        <p>Welcom To Our First Angular Project,<br>With Best Wishes</p>
      </div>
      <div class="info text-center">
        <i class="fas fa-vial"></i>
        <h4>Tests</h4>
        <p>Welcom To Our First Angular Project,<br>With Best Wishes</p>
      </div>
    </div>
    <div class="all text-center">
      <span> All service <i class="fas fa-arrow-right"></i>
      </span>
    </div>
  </div>
</div>
<!-- End Services -->

<!-- Start Spcialists -->
<div class="specialists text-center">
  <div class="container">
    <h2 class="text-center">Our specialists</h2>
    <div class="specialists-info">
      <div class="specialist-info">
        <img src="./assets/images/omar.jpg" alt="image">
        <h4>Omar Hassan</h4>
        <p>Anastheiologist</p>
        <p>14 years of experience</p>
        <span>Profile</span>
      </div>
      <div class="specialist-info">
        <img src="./assets/images/احمد.jpg" alt="image">
        <h4>Ahmed Sokar</h4>
        <p>Neurologist</p>
        <p>8 years of experience</p>
        <div class="profile">
          <i class="fas fa-eye"></i><span>Profile</span>
        </div>
      </div>
      <div class="specialist-info">
        <img src="./assets/images/14.jpg" alt="image">
        <h4>Sara Metry</h4>
        <p>Thirapist</p>
        <p>10 years of experience</p>
        <span>Profile</span>
      </div>
      <div class="specialist-info">
        <img src="./assets/images/15.jpg" alt="image">
        <h4>Jasmin Laurin</h4>
        <p>Cardiac-Surgoen</p>
        <p>7 years of experience</p>
        <span>Profile</span>
      </div>
    </div>
    <div class="all text-center">
      <span> View all </span>
      <i class="fas fa-arrow-right"></i>
    </div>
  </div>
</div>
<!-- End Spcialists -->

<!-- Start Awards -->
<div class="awards">
  <div class="container">
    <h2 class="text-center">Awards & Experience</h2>
  </div>
</div>










<!-- End Awards -->
