<!-- Start The Main -->
<main>
    <div class="content container">
      <div class="heading">
        <h4>
          Your health is our priority
        </h4>
        <h1>
          Minds that cure.<br>
          Hearts that care.
        </h1>
        <p>
          Healthall one of the nations leading acadimice medical<br>
          centers as ranked by U.S.News & World Reports "Best<br>
          Hospitals" survey".
        </p>
      </div>
      <div>
        <img src="./assets/images/img1.png" alt="image">
      </div>

      <div class="last">
        <div class="last-info">
          <div><i class="fas fa-user"></i></div>
          <div>
            <h5>specialist</h5>
            <p>What kind of help do you need?</p>
          </div>
        </div>
        <div class="last-info">
          <div><i class="fas fa-map-marker-alt"></i></div>
          <div>
            <h5>Location</h5>
            <p>Choose hospital</p>
          </div>
        </div>
        <div class="last-info">
          <div><i class="fas fa-clock"></i></div>
          <div>
            <h5>Visit time</h5>
            <p>Choose date</p>
          </div>
        </div>
        <i class="fas fa-search"></i>
      </div>
  </div>

</main>
<!-- End The Main -->

<!-- Start About Us -->
<div class="about-us">
  <div class="container">
    <div class="images">
      <div><img src="./assets/images/img2.png" alt="image"></div>
      <div><img src="./assets/images/img3.png" alt="image"></div>
      <div><img src="./assets/images/img4.png" alt="image"></div>
      <div><img src="./assets/images/img5.png" alt="image"></div>
    </div>
    <div class="about-info">
      <h2>About us</h2>
      <p>My name is <span>Ahmed Sokar</span> , my age is 36 and <br>
         Iam working front-end angular developer.
      </p>
      <p>My name is Ahmed Sokar, my age is 36, Iam working<br> front-end angular developer
        with my best friend software Engineer: <span> Omar Hassan </span>.
      </p>
    </div>
  </div>
</div>
<!-- End About Us -->

<!-- Start Services -->
<div class="services">
  <div class="container">
    <div class="service text-center">
      <h2>Services we provide</h2>
      <p>
        Our specialists can help with <span> evry emaginable health need </span> - from coughs<br>
        conrtaception,anxiesty to asthama, insomnia to diabetes.
      </p>
    </div>
    <div class="searvices-info">
      <div class="info text-center">
        <i class="fas fa-user-tie"></i>
        <h4>Private GP services</h4>
        <p>Welcom To Our First Angular Project,<br>With Best Wishes</p>
      </div>
      <div class="info text-center">
        <i class="fas fa-male"></i>
        <h4>Mens health</h4>
        <p>Welcom To Our First Angular Project,<br>With Best Wishes</p>
      </div>
      <div class="info text-center">
        <i class="fas fa-female"></i>
        <h4>Womens health</h4>
        <p>Welcom To Our First Angular Project,<br>With Best Wishes</p>
      </div>
      <div class="info text-center">
        <i class="fas fa-restroom"></i>
        <h4>Children and teenagers</h4>
        <p>Welcom To Our First Angular Project,<br>With Best Wishes</p>
      </div>
      <div class="info text-center">
        <i class="fas fa-user-md"></i>
        <h4>Sexual health clinic</h4>
        <p>Welcom To Our First Angular Project,<br>With Best Wishes</p>
      </div>
      <div class="info text-center">
        <i class="fas fa-vial"></i>
        <h4>Tests</h4>
        <p>Welcom To Our First Angular Project,<br>With Best Wishes</p>
      </div>
    </div>
    <div class="all text-center">
      <span> All service <i class="fas fa-arrow-right"></i>
      </span>
    </div>
  </div>
</div>
<!-- End Services -->

<!-- Start Spcialists -->
<div class="specialists text-center">
  <div class="container">
    <h2 class="text-center">Our specialists</h2>
    <div class="specialists-info">
      <div class="specialist-info">
        <img src="./assets/images/omar.jpg" alt="image">
        <h4>Omar Hassan</h4>
        <p>Anastheiologist</p>
        <p>14 years of experience</p>
        <span>Profile</span>
      </div>
      <div class="specialist-info">
        <img src="./assets/images/احمد.jpg" alt="image">
        <h4>Ahmed Sokar</h4>
        <p>Neurologist</p>
        <p>8 years of experience</p>
        <div class="profile">
          <i class="fas fa-eye"></i><span>Profile</span>
        </div>
      </div>
      <div class="specialist-info">
        <img src="./assets/images/14.jpg" alt="image">
        <h4>Sara Metry</h4>
        <p>Thirapist</p>
        <p>10 years of experience</p>
        <span>Profile</span>
      </div>
      <div class="specialist-info">
        <img src="./assets/images/15.jpg" alt="image">
        <h4>Jasmin Laurin</h4>
        <p>Cardiac-Surgoen</p>
        <p>7 years of experience</p>
        <span>Profile</span>
      </div>
    </div>
    <div class="all text-center">
      <span> View all </span>
      <i class="fas fa-arrow-right"></i>
    </div>
  </div>
</div>
<!-- End Spcialists -->

<!-- Start Awards -->
<div class="awards text-center">
  <div class="container">
    <h2>Awards & Experience</h2>
    <div class="tree">
      <i class="fas fa-tree fa-4x"></i>
      <h4>Quest for Quality Prize 2020</h4>
      <p>It is very good hospital and learership<br> in advancing health in communities</p>
    </div>
    <div class="awards-info">
      <div>
        <i class="fas fa-medal fa-3x"></i>
        <h4>Hospital Awards for Volunteer<br> Excellence</h4>
        <p>The most outstanding volunteer programm 2019</p>
      </div>

      <div>
        <i class="fas fa-medal fa-3x"></i>
        <h4>AHA 2018 Innovation Challenge<br> Winner</h4>
        <p>Using digital tools to impact early childhood<br> development and maternal health</p>
      </div>
    </div>
  </div>
</div>
<!-- End Awards -->

<!-- Start Thank You -->
<div class="thank">
  <div class="container">
    <h2 class="text-center">Thank you for your feedback</h2>
    <div class="thank-info">
      <div class="info1">
        <div class="the-info1">
          <div><img src="./assets/images/احمد.jpg" alt="">
          </div>
          <div>
            <h4>Ahmed Sokar</h4>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half"></i>
            <div>
              <i class="fab fa-facebook-f"></i>
              <span>Facebook</span>
            </div>
          </div>
          <div>May, 2019</div>
        </div>
        <div class="the-info1">
          <div><img src="./assets/images/14.jpg" alt="">
          </div>
          <div>
            <h4>Rovan Sokar</h4>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>

            <div>
              <i class="fab fa-instagram-square"></i>
              <span>Instgram</span>
            </div>
          </div>
          <div>julay, 2017</div>
        </div>
        <div class="the-info1 third">
          <div><img src="./assets/images/15.jpg" alt="">
          </div>
          <div>
            <h4>Jasmin Laurin</h4>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <div>
              <i class="fab fa-google"></i>
              <span>Google reviews</span>
            </div>
          </div>
          <div>June, 2020</div>
        </div>
      </div>

      <div class="info2">
        <div class="the-info2">
          <div>
            <div><img src="./assets/images/omar.jpg" alt=""></div>
          </div>
          <div>
            <h4>Omar Hassan</h4>
            <span>1 march 2021</span>
          </div>
        </div>
        <div class="the-info3" >
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <p>My name is <span>Ahmed Sokar</span>, my age is 36, Iam working<br> front-end angular developer
            with my best friend <br> Software Engineer: <span> Omar Hassan </span>.
          </p>
          <hr />

        </div>
        <div class="the-info4">
          <div class="spans">
            <div><span>Service </span></div>
            <hr />
            <div><span>5.0</span></div>
          </div>

          <div class="spans">
            <div><span>Doctor </span></div>
            <hr />
            <div><span>5.0</span></div>
          </div>
          <div class="spans">
            <div><span>Price/quality </span></div>
            <hr />
            <div><span>5.0</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Thank You -->

 <!-- Start Need  -->
<div class="need">
  <div class="container">
    <h2 class="text-center">Do you need help? Find us here</h2>
    <div class="need-info">
      <div>
        <h3>Need a call?</h3>
        <div>
          <h5>Your name</h5>
          <span>Ahmed Sokar</span>
          <hr />
        </div>
        <div>
          <h5>Phone number</h5>
          <span>012-80157117</span>
          <hr />
        </div>
        <div>
          <button>Get a call</button>
          <p>We will call you no later than in aminute</p>
        </div>
      </div>

      <div class="map">
        <img src="./assets/images/map.png" alt="image">
      </div>
    </div>
    <hr />
  </div>
</div>

<!-- End Need -->







