<!-- Start About Us -->
<div class="about-us">
  <div class="container">
    <div class="images">
      <div><img src="./assets/images/img2.png" alt="image"></div>
      <div><img src="./assets/images/img3.png" alt="image"></div>
      <div><img src="./assets/images/img4.png" alt="image"></div>
      <div><img src="./assets/images/img5.png" alt="image"></div>
    </div>
    <div class="about-info">
      <h2>{{"ABOUT_US" | translate}}</h2>
      <p>My name is <span>Ahmed Sokar</span> , my age is 36 and <br>
         Iam working front-end angular developer.
      </p>
      <p>My name is Ahmed Sokar, my age is 36, Iam working<br> front-end angular developer
        with my best friend software Engineer: <span> Omar Hassan </span>.
      </p>
    </div>
  </div>
</div>
<!-- End About Us -->
